@namespace MC.Blazor
@using Microsoft.AspNetCore.Components.Forms
@inherits McInputTextBase

    <div class="form-control-wrapper">
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <label class="form-control-label" for="@Id">@Label</label>
        }
        <input class="form-control @CssClass" id="@Id" @bind-value="@CurrentValue" @bind-value:event="oninput" />
        <div class="form-control-validation">
            <ValidationMessage For="@ValidationFor" />
        </div>
    </div>
