@namespace MC.Blazor
@typeparam IType
@inherits McDataGridBase<IType>

@if (Response == null)
{
    //Loading
    <McCard>
        <h3 class="text-info text-center mb-0"><McLoadingIcon /></h3>
        Osama
    </McCard>
}
else
{
    //Table title and refresh and create buttons
    <McCard CssClass="@CardCssClass">
        <h3 class="text-info d-inline mb-0 @TitleCssClass">@Title</h3>
        <div class="float-right">
            <button class="btn btn-info mr-1" disabled="@(Response.IsRefreshing ? "disabled" : null)" title="تحديث" @onclick="OnRefresh"><i class="fas fa-sync-alt"></i></button>
            @if (Response.CanCreate && !HideCreate)
            {
                <button class="btn btn-info" @onclick="OnCreateClicked"><i class="fas fa-plus"></i> إضافة</button>
            }
        </div>
    </McCard>

    @if (Response != null && Response.Count > 0)
    {
        //Searchtext
        <McSearchTextBox CssClass="b-green" PlaceHolder="أدخل نص للبحث عنه" OnResetSearchClicked="OnResetSearch" OnSearchClicked="OnSearch" />
    }

    @Header

    //If loading records
    @if (Response.Items == null)
    {
        <McCard CssClass="@CardCssClass">
            <h3 class="text-info text-center mb-0"><McLoadingIcon /></h3>
            Hasan
        </McCard>
    }
    //If no records
    else if (Response.Items.Count() == 0)
    {
        if (TableFirstRow == null)
        {
            //If no records and no TableFirstRow
            <McCard CssClass="@CardCssClass">
                <div class="text-info text-center mb-0">
                    @if (string.IsNullOrEmpty(Response.Search.Trim()))
                    {
                        <span>
                            لا يوجد قيود
                            @if (Response.CanCreate)
                            {
                                <span>
                                    ... لإضافة قيود جديدة اضغط
                                    <button class="btn btn-info py-0 px-1 align-baseline" @onclick="OnCreateClicked">هنا</button>
                                </span>
                            }
                        </span>
                    }
                    else
                    {
                        <span>لا يوجد نتائج تتطابق مع شروط البحث</span>
                    }
                </div>
            </McCard>
        }
        else
        {
            //If no records and TableFirstRow has been added
            <McCard CssClass="@CardCssClass">
                <table class="table table-bordered table-sm table-striped bg-white">
                    <thead>
                        <tr>
                            @TableHeader
                        </tr>
                        <tr>
                            @foreach (var col in Columns)
                            {
                                <th class="@col.CssHeaderFormating" style="width: @($"{col.Width}%")">@col.Title</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @TableFirstRow
                        <tr>
                            <td colspan="@(Columns.Count)"><h4 class="text-center text-info">لا يوجد قيود</h4></td>
                        </tr>
                    </tbody>
                </table>
            </McCard>
        }
    }
    //If records loaded
    else
    {
        <McCard CssClass="@CardCssClass">
            <table class="table table-bordered table-sm table-striped bg-white mb-3">
                <thead>
                    <tr>
                        @TableHeader
                    </tr>
                    <tr>
                        @foreach (var col in Columns)
                        {
                            <th class="@col.CssHeaderFormating" style="width: @($"{col.Width}%")">@col.Title</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @TableFirstRow
                    @foreach (var item in Response.Items)
                    {
                    <tr>
                        @foreach (var col in Columns.Where(x => item.GetType().GetProperty(x.Name).Name == x.Name))
                        {
                            <CascadingValue Name="Item" Value="item">
                                <CascadingValue Name="Col" Value="col">
                                    <McDataGridCell OnDeleteClick="OnDelete" OnUpdateClick="OnUpdate" OnChangedCheckbox="OnChangedCheckboxVoid" />
                                </CascadingValue>
                            </CascadingValue>
                        }
                    </tr>
                    }
                </tbody>
            </table>

            @if (EnablePagination)
            {
                <McPagination TotalPageQuantity="Response.TotalPageQuantity" CurrentPage="Response.CurrentPage" Radius="2" SelectedPage="SelectedPage" />
            }
            <div class="text-center">
                <span>@Response.FirstRec - @Response.LastRec / @((Response.CountFilter != Response.Count) ? Response.CountFilter : Response.Count) @(Response.Count != Response.CountFilter ? $"({Response.Count})" : null)</span>
            </div>
        </McCard>
    }

    @Footer
}
